.env
*.env.local
*.env.development
*.env.production

GITHUB_TOKEN
GITHUB_TOKEN.txt
*API*
AMO_API_KEY.txt
AMO_API_SECRET.txt
__pycache__/
*.pyc
create_and_push_repo.sh
.eslintcache/
node_modules/
dist/
build/
*.zip
.gemini
GITHUB_TOKEN.txt,
AMO_API_KEY.txt,
AMO_API_SECRET.txt,
gemini-gcloud-key.json,
*API*,
